* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#fefefe
}

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 3px #ffffff solid ;
}

.slides input {
    display: none;
}

.slide {
    display: none;
    /*position: static;*/
    width: auto;
    height: auto;
    background-color: lightgrey;
}

/* Для отображения активного слайда */
.slides input:checked + .slide {
    display: block;
}

/* Стили для контролов (точек) */
.controls {
    text-align: center;
    margin-top: 10px;
}

.controls label {
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

/* Для активной точки */
.slides input:checked + .slide ~ .controls label[for="slide1"]:nth-of-type(1),
.slides input:checked + .slide ~ .controls label[for="slide2"]:nth-of-type(2),
.slides input:checked + .slide ~ .controls label[for="slide3"]:nth-of-type(3),
.slides input:checked + .slide ~ .controls label[for="slide4"]:nth-of-type(4) {
    background: #717171;
}

